{% load static %}
<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">Всё готово? Сдавайте работу!</h4>
        <p class="text-muted">
          В течение спринта часть заданий вы выполняли на своём компьютере. Если вы всё сделали — можно сдавать проект на проверку, но прежде проверьте весь проект самостоятельно и убедитесь, что вы справились со всеми текущими задачами и в проекте Yatube всё работает как следует.
        </p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/octrow" class="text-white">Follow on GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a href="{% url "posts:index" %}"
       class="navbar-brand d-flex align-items-center">
      <img src="{% static "img/logo.webp" %}"
           width="30"
           height="30"
           class="d-inline-block align-top"
           alt="">
      <strong style="padding-left: 20px;">YaTube</strong>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
